*{
	margin: 0;
	padding: 0;
	outline: none;
}
#boder{
	width: 240px;
	height: 290px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
	margin: 150px auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
}
#boder p{
	width: 200px;
	height: 30px;
	border-bottom-style:solid;
	border-color:#f0f0f0;
	margin: 4px auto;
	text-align: right;
	font-size: 20px;
	overflow-x: auto;
	overflow-y: hidden;
	
}
#boder input{
	width: 40px;
	height: 40px;
	background: white;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
	text-align: center;
	margin: 4px;
	border-style: none;
	border-radius: 5px;
}
#boder input:hover{
	background-color: #1E9FFF;
	color: white;
}
/* 定义滚动条样式 */
::-webkit-scrollbar {
  height: 3px;
  background-color: rgba(240, 240, 240, 1);
}
  
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(240, 240, 240, .5);
  border-radius: 10px;
  background-color: rgba(240, 240, 240, .5);
}
  
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 0px rgba(240, 240, 240, .5);
  background-color: black;
}